html
    head
        link(rel='icon' href='favicon.ico' type='image/x-icon')
        link(rel ="stylesheet" href='stylesheets/indexStyle.css' type="text/css")
        script.
            var user = !{JSON.stringify(users)};
            var k = user.length-6;
    body(id="body" onscroll="loadnew(user);")
        div(class ="sidebar")
            <h1>    You can Create a post from here.
            div(class="login")
                form(action="/new" name="Form" method="post" onsubmit="return validateForm()" )
                    table
                        tr
                            td
                                input( name ="name" , placeholder="Enter your name")
                        tr
                            td
                                input( name="post" , placeholder="what's on your mind")
                        tr
                            td
                                button( type="submit" , name="submit") submit

        div(id ="main" style="margin-left:2%; position:relative;")
            -for(var c =users.length-1;c>=users.length-5;c--)
                div(id ="main_content")
                    form(id="com" action="/addComment/#{users[c].date}"   method="post" )
                        table(style="table-layout: fixed; width: 100%;")
                            tr
                                td  posted by #{users[c].Name}
                            tr
                                td  on #{users[c].date}
                            tr
                                td
                        div(class="post")
                            h2(style="overflow-wrap: break-word;")  #{users[c].Post}
                        a(href="/#{users[c].date}" ) Comments
                            div(id="comments_page"  )

                        input(style="width : 91.75%; margin-top:5px; height:20px;" name ="comment" placeholder="write comment...")
                        button(type ="submit" ) submit
    script(src="javascripts/script.js")
