html
    head
        link(rel='icon' href='favicon.ico' type='image/x-icon')
        link(rel ="stylesheet" href='stylesheets/style.css' type="text/css")
        script(src="javascripts/script.js")
        script.
            var User =!{JSON.stringify(users)};
            var k = User.length - 6;
            window.onscroll = loadnew;
            function loadnew() {
                var content = document.getElementById("body");
                var length = content.offsetHeight;
                var yoffset = window.pageYOffset;
                var y = yoffset + window.innerHeight;
                if (y >= length) {
                    console.log("scrolled");
                    for (var i = k; i > k - 5; i--) {
                        if (i >= 0) {
                            document.getElementById('main').innerHTML = document.getElementById('main').innerHTML +
                                '<div id="main_contentd">' +
                                '<form id="com" action="/' + User[i].date + '"   method="post">' +
                                '<table>' +
                                '<tr>' +
                                '<td>posted by ' + User[i].Name + ' </td>' +
                                '</tr>' +
                                '<tr>' +
                                '<td>on ' + User[i].date + '</td>' +
                                '</tr>' +
                                '</table>' +
                                '<div class=class="post">' +
                                '<h2>' + User[i].Post + '</h2>' +
                                '</div>' +
                                //'<span> Comments </span>' +
                                '<a href="/' + User[i].date + '" id="myBtn"  >comments</a>' +
                                '<div id = "comments_page" class="modal" >' +

                                '<div class="commentsa"><span class="close">&times;</span></div>' +
                                //'<p>'+User[i].comments+ '</p>'+
                                '</div>' +
                                '<input style = "width : 91.75%; margin-top:5px; height:20px; "name = "comment" placeholder = "write comment...">' +
                                '<button type ="submit" >submit </button>' +
                                '</form>' +
                                '</div>';
                        }
                    }
                    k = k - 5;
                }
            }
    body(id="body")
        div(class ="sidebar")
            <h1>    You can Create a post from here.
            div(class="login")
                form(action="/new" name="Form" method="post" onsubmit="return validateForm()" )
                    table
                        tr
                            td
                                input( name ="Name" , placeholder="Enter your name")
                        tr
                            td
                                input( name="post" , placeholder="what's on your mind")
                        tr
                            td
                                button( type="submit" , name="submit") submit

        div(id ="main")
            -for(var c =users.length-1;c>=users.length-5;c--)
                div(id ="main_content")
                    form(id="com" action="/addComment/#{users[c].date}"   method="post" )
                        table
                            tr
                                td  posted by #{users[c].Name}
                            tr
                                td  on #{users[c].date}
                            tr
                                td
                        div(class="post")
                            h2 #{users[c].Post}
                        a(href="/#{users[c].date}" ) Comments
                            div(id="comments_page"  )

                        input(style="width : 91.75%; margin-top:5px; height:20px;" name ="comment" placeholder="write comment...")
                        button(type ="submit" ) submit
